In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv("D:\extracted_features_charrec_dense7.csv")
data

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,class_name
0,27.630783,0.000000,51.067493,0.0,26.302004,0.000000,0.000000,0.0,0.0,0.000000,...,35.563477,8.822042,0.0,18.269510,82.596970,0.000000,0.000000,1.751286,0.0,3333
1,41.934185,0.000000,57.616398,0.0,40.345722,0.000000,0.000000,0.0,0.0,0.000000,...,33.432617,22.573324,0.0,25.266916,71.188900,0.000000,0.000000,0.000000,0.0,3333
2,59.681458,0.000000,35.450397,0.0,51.084698,0.000000,0.000000,0.0,0.0,4.531399,...,17.747238,22.295591,0.0,9.600313,39.380276,0.000000,0.000000,13.358544,0.0,3333
3,25.652845,0.000000,42.711246,0.0,26.391441,0.000000,0.000000,0.0,0.0,0.000000,...,25.998358,12.029038,0.0,19.127953,60.226376,0.000000,0.000000,0.000000,0.0,3333
4,51.862490,0.000000,25.455917,0.0,48.505250,0.000000,0.000000,0.0,0.0,0.000000,...,27.024067,1.758605,0.0,17.696215,64.634834,0.000000,0.000000,9.861172,0.0,3333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6652,0.000000,8.917019,12.606703,0.0,0.000000,23.875010,0.000000,0.0,0.0,9.403310,...,0.000000,9.477231,0.0,0.000000,46.723995,0.000000,20.901190,7.003646,0.0,3454
6653,12.088920,3.646342,28.106102,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,38.677414,0.000000,1.824834,7.562943,0.0,3454
6654,0.000000,0.000000,53.899130,0.0,0.000000,0.000000,12.079654,0.0,0.0,0.000000,...,12.388772,58.245360,0.0,0.000000,47.787598,5.880453,0.000000,3.556168,0.0,3454
6655,0.000000,0.000000,37.811558,0.0,0.000000,0.000000,8.555406,0.0,0.0,0.000000,...,7.663426,23.674717,0.0,0.000000,53.260387,3.350826,0.000000,8.673196,0.0,3454
6656,0.000000,0.000000,29.105694,0.0,0.000000,8.669491,20.568624,0.0,0.0,0.000000,...,11.354428,39.144600,0.0,0.000000,62.376480,13.449656,0.000000,10.945368,0.0,3454

In [3]:
# Preprocess the data
X = data.drop(columns=['class_name']) 
y = data['class_name']

# Convert the data to NumPy arrays
X = X.to_numpy()
y = y.to_numpy()

In [4]:
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Create an instance of the SVM classifier
clf = svm.SVC()

# Train the SVM model with the training data
clf.fit(X_train, y_train)

# Get the support vectors
support_vectors = clf.support_vectors_

# Number of support vectors for each class
n_support_vectors = clf.n_support_

print("Support Vectors:")
print(support_vectors)
print("Number of support vectors for each class:", n_support_vectors)

Support Vectors:
[[23.630209   0.        53.334503  ...  0.         0.         0.       ]
 [10.19932    0.        17.73739   ...  0.         7.453899   0.       ]
 [16.899343   0.        41.84422   ...  0.         3.478043   0.       ]
 ...
 [ 0.         6.7402787 12.642118  ...  6.4952793  0.         0.       ]
 [ 0.         7.8166842 16.010033  ... 11.251127  15.431749   0.       ]
 [ 0.         8.680744  20.28009   ...  6.552975   1.3395053  0.       ]]
Number of support vectors for each class: [ 82  72  97  77 120 118  75  99 108  74  84  62  81 105  75  88  89  49
 105  49  70 102 113  59  75  63  89  83  50  71  70  74 110 109  59  84
  46  30  86  53  74  78  50  23  44  60  41  35]